@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --text: #f5f5f5;
  --shadow: #929292;
  --background: #171a17;
  --primary: #2ce056;
  --secondary: #4c8447;
  --focus: #c6e1c4;
  --accent: #b1f179;
}
