@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 33% 5%;
    --foreground: 222.2 84% 4.9%;

    --text: 0 0% 97%;
    --text-fade: 0 0% 97% / 0.6;
    --splash: 252 41% 35%;
    --switch-checked: 223 75% 42%;
    --nav-top: 253 6% 57% / 0.4;
    --nav-bot: 255 6% 13% / 0.4;
    --input-top: 251 36% 75% / 0.2;
    --input-bot: 252 20% 25% / 0.2;
    --input-border: 0 0% 74%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 0, 0%, 92%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
