<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='styles.css') }}"
		/>
		{% if title %}
		<title>{{ title }}</title>
		{% else %}
		<title>YTIZ-MP3</title>
		{% endif %}
	</head>
	<body>
		<header>
			<a href="{{url_for('home')}}">Home</a>
			<a href="{{url_for('about')}}">About</a>
		</header>
		<div class="container">{% block content %}{% endblock %}</div>
		<script
			type="text/javascript"
			src="{{url_for('static', filename='index.js')}}"
		></script>
	</body>
</html>
