{% extends "base.html" %} {% block content %}
<h1 class="heading">YTIZ-MP3</h1>
<div class="url-container">
	<form method="post">
		<div class="url-input">
			<input
				class="input"
				type="url"
				id="url"
				name="url"
				placeholder="Enter URL Here..."
			/>
		</div>
		<button class="submit" type="submit">Submit</button>
	</form>
	{% with messages = get_flashed_messages() %} {% if messages %}{% for message
	in messages %}
	<p class="error" style="color: red">{{ message }}</p>
	{% endfor %} {% endif %} {% endwith %}
</div>
{% endblock %}
